---
# tasks file for libvirt
- name: Install libvirt-packages
  apt: 
    name: "{{ item }}"
    state: latest
    default_release: "{{ ansible_distribution_release }}-backports"
  with_items:
    - libvirt-bin
    - qemu-system
    - libguestfs-tools
    - python-libvirt
    - python-lxml
    - ovmf
    - bmap-tools

- name: Enable libvirt services
  service: 
    name: "{{ item }}"
    state: started 
    enabled: true
  with_items: 
      - libvirtd
      - libvirt-guests
      
- name: Template over config
  template:
    dest: /etc/default/libvirt-guests
    src: libvirt-guests.j2

- name: Template over auth
  template:
    dest: /etc/polkit-1/localauthority/50-local.d/60-libvirt.pkla
    src: libvirt.pkla.j2
