---
# tasks file for libvirt
- name: Install libvirt-packages
  apt: 
    name: "{{ item }}"
    state: latest
    default_release: "{{ ansible_distribution_release }}-backports"
  with_items:
    - libvirt-bin
    - qemu-system
    - libguestfs-tools
    - python-libvirt
    - python-lxml
    - ovmf
    - bmap-tools

- name: Enable libvirt services
  service: 
    name: "{{ item }}"
    state: started 
    enabled: true
  with_items: 
      - libvirtd
      - libvirt-guests
      
- name: Template over guest config
  template:
    dest: /etc/default/libvirt-guests
    src: libvirt-guests.j2

- name: Template over auth
  template:
    dest: /etc/polkit-1/localauthority/50-local.d/60-libvirt.pkla
    src: libvirt.pkla.j2

- name: Set local qemu as the default for local users (bash)
  copy:
    content: "export LIBVIRT_DEFAULT_URI=qemu:///system"
    dest: /etc/profile.d/libvirt-default-uri.sh
    mode: 0644
    owner: root
    group: root
    
- name: Set local qemu as the default for local users (csh)
  copy:
    content: "set LIBVIRT_DEFAULT_URI qemu:///system"
    dest: /etc/profile.d/libvirt-default-uri.csh
    mode: 0644
    owner: root
    group: root
